{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>nombre_producto</title>
  <link rel="icon" type="image/x-icon" href="{%static 'producto/img/logo/logo copy.png'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'producto/css/styles.css'%}">
</head>

<body>
  <header id="cabecera">
    <h1 id="titulo">Bienvenido a Tienda Patitas</h1>
    
    
    <nav class="nav_" id="nav">
      <ul class="list">

        <div class="nav_fila" id="na1">
          <div class="nav_column" id="n1">
            <li class="list__logo">
              <div class="list__button" id="logotipo">
                <a href="{%url 'index'%}" id="logo_hv"><img src="{% static 'producto/img/logo/d2204d754ef6a0a357026981a99022e4.jpg'%}" alt="logo" class="logo_img" /></a>
                
              </div>
            </li>

            <li class="list__item" id="menu">
              <div class="list__button ">
                
                <label for="code_menu" class="cont_list_item" id="btn_menu">
                  <h2><i class="bi bi-list" id="icon_menu"></i></h2>
                  <h6>menu</h6>
                </label>
                  
                <input type="checkbox" class="nav_input" id="code_menu">

                <div class="nav_" id="desplegable">
                  <ul class="list" id="desplegable_menu">
                    <li class="group_item_sec">
                      <div class="title_list_item"><a href="{%url 'list_product'%}">PRODUCTOS... <span>ver todo</span></a></div>
                      <ul class="group_item">
                        <li class="item_list"><a href="{%url 'list_product'%}">Alimentos</a></li>
                        <li class="item_list"><a href="{%url 'list_product'%}">Cuidado</a></li>
                        <li class="item_list"><a href="{%url 'list_product'%}">Entretenimiento</a></li>
                        <li class="item_list"><a href="{%url 'list_product'%}">Accesorios</a></li>
                        <li class="item_list"><a href="{%url 'list_product'%}">Medicamento</a></li>
                      </ul>
                    
                    </li>
                    <li class="group_item_sec">
                      <h2 class="title_list_item">INFORMACION</h2>
                      <ul class="group_item">
                        <li class="item_list"><a href="#0">preguntas Precuentes</a></li>
                        <li class="item_list"><a href="#footer">contactanos</a></li>
                        <li class="item_list"><a href="#0">sucursales</a></li>
                      </ul>
                    </li>
                    
                  
                  </ul>
                  
                  
                </div>
                
                
              </div>
            </li>

          </div>

          <div class="nav_column" id="n2">
            

            <li class="list__item list__item--click" id="producto_item1">
              <div class="list__button list__button--click" id="producto_item2">
                <img src="{% static 'producto/icon/shopping-bag-solid-24.png'%}" alt="productos" class="list__img" />
                <a  class="nav__link">Productos</a>
                <img src="{% static 'producto/icon/chevron-right-regular-24.png'%}" alt="cerrado" class="list__arrow" />
              </div>
    
              <ul class="list__show">
                <li class="list__inside">
                  <a href="{%url 'list_product'%}" class="nav__link nav__link--inside">Alimentos</a>
                </li>
    
                <li class="list__inside">
                  <a href="{%url 'list_product'%}" class="nav__link nav__link--inside">Cuidados</a>
                </li>
    
                <li class="list__inside">
                  <a href="{%url 'list_product'%}" class="nav__link nav__link--inside">Accesorios</a>
                </li>
    
                <li class="list__inside">
                  <a href="{%url 'list_product'%}" class="nav__link nav__link--inside">Farmacia</a>
                </li>
              </ul>
            </li>
    
            <li class="list__item list__item--click" id="nosotros_item1">
              <div class="list__button list__button--click" id="nosotros_item2">
                <img src="{% static 'producto/icon/info-circle-solid-24.png'%}" alt="Nosotros" class="list__img" />
                <a class="nav__link">Nosotros</a>
                <img src="{% static 'producto/icon/chevron-right-regular-24.png'%}" alt="cerrado" class="list__arrow" />
              </div>
    
              <ul class="list__show">
                <li class="list__inside">
                  <a href="{%url 'index'%}" class="nav__link nav__link--inside">Mision</a>
                </li>
    
                <li class="list__inside">
                  <a href="#footer" class="nav__link nav__link--inside">Contacto</a>
                </li>
    
                <li class="list__inside">
                  <a href="#0" class="nav__link nav__link--inside">FaQ</a>
                </li>
              </ul>
            </li>


            
    
            <li class="list__login" id="login_item1">
              <div class="list__button" id="login_item2">
                <img src="{% static 'producto/icon/usuario-de-perfil.png'%}" alt="Usuario" class="list__img" />
                <a target="_blank" href="{%url 'login'%}" class="nav__login">Iniciar Sesion</a>
              </div>
            </li>

            <li class="list__item">
              <div id="carr_button" class="list__button">
                <img src="{% static 'producto/icon/carro-de-la-carretilla.png'%}" alt="Carrito" class="list__img" />
                <button id="boton-carrito">Carrito <span id="contadorCarrito">0</span></button>
              </div>
            </li>

          </div>
        </div>

        <div class="nav_fila" id="na2">
          <div class="nav_column" id="n3">
            <li class="buscador" id="buscador">
              <div class="search_itean">
                <div class="search">
                  <form action="#" method="get" id="search">
                    <input class="buscar" type="text" name="buscador" id="search" placeholder="Buscador..." />
                    <button type="submit" id="lupa"><i class="bi bi-search"></i></button>
                  </form>
                </div>
              </div>
            </li>

          </div>
          

        </div>


        

        

        
      </ul>
    </nav>
  </header>
  <section id="sec_principal" style="background: none;">
    <div class="cont_produc">
      <div class="img_cont_product">
        <img src="{% static 'producto/img/Relleno/carrusel2.jpg'%}" alt="producto.jpg" id="img_product">

      </div>
      <div class="content">
        <div class="content_product">

          <div class="cont_marca">
            <a href="#" id="marca">MARCA</a>
            <p id="marca_code">AX12</p>
          </div>

          <div class="cont_title_product">
            <h1 id="titulo_product">Alimento para perro</h1>

          </div>
          

          

          <div class="cont_price">
            <div class="product_price_cont">
              $66.990
            </div>

          </div>
          <div class="cont_caract">
            <h5 class="titulo_caract">Caracteristicas</h5>
            <div id="caracteristicas">
              
              <h6 >Características principales:</h6>
              <ul>
                <li>Ingredientes de alta calidad que promueven una digestión saludable.</li>
                <li>Contiene una mezcla de proteínas, vitaminas y minerales esenciales para el bienestar general del perro.</li>
                <li>Contribuye al desarrollo de huesos fuertes y músculos magros.</li>
                <li>Promueve una piel y pelaje saludables.</li>
                <li>No contiene aditivos artificiales ni subproductos de origen animal.</li>
              </ul>
            </div>

          </div>
          <div class="cont_info">
            <div class="explore">
              <div class="info_prov">
                <p>vendido por: <a href="#" id="name_provedor">nombre provedor</a></p>
                <!-- Scrollable modal -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  condiciones para devolucion de producto
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel" style="text-decoration: underline;">Política de Devolución</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                        <p>Gracias por comprar en nuestra tienda. A continuación, se detallan nuestras condiciones de devolución:</p>

                        <h4>Condiciones:</h4>
                        <ul>
                          <li>Los productos deben devolverse dentro de los 30 días posteriores a la fecha de compra.</li>
                          <li>El producto debe estar en su estado original, sin usar y con todas las etiquetas y embalajes originales.</li>
                          <li>Se requiere presentar el recibo de compra o comprobante de pago.</li>
                          <li>No se aceptarán devoluciones de productos personalizados o en liquidación.</li>
                        </ul>

                        <h4>Proceso de devolución:</h4>
                        <ol>
                          <li>Comuníquese con nuestro servicio de atención al cliente para informar sobre la devolución.</li>
                          <li>Embalaje del producto de manera segura y asegúrese de incluir todos los accesorios.</li>
                          <li>Envíe el paquete a nuestra dirección de devolución indicada en el recibo de compra.</li>
                          <li>Una vez que recibamos el producto, procesaremos la devolución y emitiremos un reembolso en un plazo de 5-7 días hábiles.</li>
                        </ol>

                        <p>Si tiene alguna pregunta adicional sobre nuestra política de devoluciones, no dude en contactarnos.</p>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="ofert">
                <span><i class="bi bi-emoji-heart-eyes-fill"></i></span>
                <span>ultimas unidades</span>
              </div>
              <div class="btn_buy">
                <button id="agregar${producto.id}" class="btn_ver" style="width: 50%;">Agregar <i class="bi bi-bag-fill"></i></button>
                <button id="comprar">comprar ahora</button>
              </div>
            </div>

            <div class="info_entrega">
              <div class="cab_principal">
                <h2>Entrega</h2>
                <button onclick="openModal()" class="btn">en ubicacion</button>
              </div>
              <div class="entregas">
                <div class="despacho">
                  <h3><i class="bi bi-truck"></i></h3>
                  <li class="despacho__item despacho__item--click">
                    <div class="list__button list__button--click">
                      <a href="#0" class="nav__link">Despacho a domicilio</a>
                      <img src="{% static 'producto/icon/chevron-right-regular-24.png'%}" alt="cerrado" class="list__arrow" />
                    </div>

                    <ul class="despacho__show">
                      <li class="despacho__inside">
                        <p>Elige el dia de tu despacho <span>$23.000</span></p>
                        <p>recibelo desde <span>26 de junio</span></p>
                      </li>


                    </ul>
                  </li>

                </div>
                <div class="retiro">
                  <h3><i class="bi bi-shop"></i></h3>
                  <p>Retiro en tienda</p>

                </div>
              </div>
            </div>

          </div>


        </div>

      </div>
    </div>

    <div id="myModal" class="modal" style="z-index: 1000;">
      <div class="modal-content">
        <h2>Ingreso de Ubicación</h2>
        <form>
          <div class="form-group">
            <label for="street">region:</label>
            <input type="text" id="street" name="street" required>
          </div>
          <div class="form-group">
            <label for="city">comuna:</label>
            <input type="text" id="city" name="city" required>
          </div>
          
          <div class="form-group">
            <button type="submit">Guardar</button>
            <button onclick="closeModal()" style="background: gray;">Cerrar Modal</button>
          </div>
        </form>
        
      </div>
    </div>

    <div class="modal-contenedor">
      <div class="modal-carrito">
        <h3>Carrito</h3>
        <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
        <div id="carrito-contenedor">

        </div>
        <p class="precioProducto">Precio total: $<span id="precioTotal">0</span></p>
        <button id="vaciar-carrito" class="boton-agregar">Vaciar carrito</button>
      </div>
    </div>
    

  </section>

  <section id="sec__similar">
    <div id="lp1" class="list_productos">
      <div class="list_pro_conte">
        <div class="title_list_pro">
          <h6 class="title_lpro">Similares</h6>
        </div>
        <div class="list_product">
          <div id="btn_next">
            <div class="swiper-button-next"></div>
          </div>
          <div id="btn_prev">
            <div class="swiper-button-prev"></div>
          </div>

          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              {% for producto in productos%}
              <div class="swiper-slide">
                <div class="card">
                  <img src="media/{{producto.imagen}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <div class="card-price-conte">
                      <ul class="card-price-list">
                        <li id="old" class="price">${{producto.precio_old}}</li>
                        <li id="new" class="price">${{producto.precio_new}}</li>
                      </ul>
                    </div>
                    <a href="{%url 'producto'%}" class="btn_ver">Ver Producto</a>
                  </div>
                </div>
              </div>
              {%endfor%}
          </div>
        </div>
      </div>



    </div>

    <div id="lp2" class="list_productos">
      <div class="list_pro_conte">
        <div class="title_list_pro">
          <h6 class="title_lpro">Relacionado</h6>
        </div>
        <div class="list_product">
          <div id="btn_next">
            <div class="swiper-button-next"></div>
          </div>
          <div id="btn_prev">
            <div class="swiper-button-prev"></div>
          </div>

          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              {% for producto in productos%}
              <div class="swiper-slide">
                <div class="card">
                  <img src="media/{{producto.imagen}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <div class="card-price-conte">
                      <ul class="card-price-list">
                        <li id="old" class="price">${{producto.precio_old}}</li>
                        <li id="new" class="price">${{producto.precio_new}}</li>
                      </ul>
                    </div>
                    <a href="{%url 'producto'%}" class="btn_ver">Ver Producto</a>
                  </div>
                </div>
              </div>
              {%endfor%}
          </div>
        </div>
      </div>
              

  </section>






  <footer id="footer">
    <div class="contenedor">
      <div class="columna">
        <h3 class="title_footer">Contacto</h3>
        <hr>
        <h5 class="body_footer">Telefono: <a href="tel:+" class="hv_footer">+569 727 245 57</a></h5>
        <h5 class="body_footer">Email: <a href="mailto:" class="hv_footer">el.paredes@duocuc.cl</a></h5>
      </div>
      <div class="columna">
        <h3 class="title_footer">Enlaces</h3>
        <hr>
        <h5 class="body_footer">Instagram: <a href="http://Instagram.com" target="_blank" rel="noopener noreferrer"
            class="hv_footer">@PatitasShop</a></h5>
        <h5 class="body_footer">Facebook: <a href="http://Facebook.com" target="_blank" rel="noopener noreferrer"
            class="hv_footer">PatitasShop</a></h5>
      </div>

      <div class="columna">
        <h4 class="title_footer">copyright 2023</h4>
        <hr>
      </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script src="{% static 'producto/js/product.js'%}"></script>
  <script src="{% static 'producto/js/modal.js'%}"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  

  
</body>

</html>